body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    h1 {
        margin-top: -4rem;
    }
}

.h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 2rem;
}

h3 {
    margin-top: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.section {
    margin-bottom: 20px;
}

@media screen and (min-width: 600px) {
    .section__skills {
        background-color: black;
        color: #fff;
        padding: 1rem;
    }
}

.contact-info {
    margin-bottom: 10px;
}


ul {
    list-style-type: none;
    padding: 0;
}

.ul__experience {
    list-style:circle;
    padding: 0;
    margin-left: 1rem;
}

ul li {
    margin-bottom: 5px;
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 2fr;
    }
}

.image {
    width: 30%;
    height: 30%;
    border: 5px solid #fff;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

@media screen and (max-width: 600px) {
    .image {
        border-color: black;
        width: 20%;
        height: 20%;
    }
}

.p {
    font-size: 2rem;
    font-weight: bold;
}

.contact__info {
    color: #fff;
}

@media screen and (max-width: 600px) {
    .contact__info {
        color: black !important;
    }
}

.heading {
    font-size: 3.5rem;
}

@media screen and (max-width: 600px){
    .heading {
        font-size: 2.5rem;
    }
}